# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

runpod==1.2.0
huggingface-hub==0.17.3
torch
transformers==4.27.1
diffusers[torch]==0.19.3
onediff